body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.logo {
    color: #1877f2;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.signup-box {
    background: #fff;
    padding: 20px 25px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.signup-box h2 {
    margin: 0;
    font-size: 22px;
}

.signup-box p {
    margin: 10px 0;
    color: #606770;
    font-size: 14px;
}

.big-name {
  width: 100%;         
  padding: 10px;      
  font-size: 16px;          
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  box-sizing: border-box;
  
}
.input-row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-row input[type="text"],
.input-row input[type="password"],
.input-row select {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
}

.input-row input[type="text"]::placeholder,
.input-row input[type="password"]::placeholder {
    color: #888;
}

.input-row select {
    margin-right: 5px;
}

.dob {
    display: flex;
    gap: 5px;
}

.gender-box {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.gender-option {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.gender-option input[type="radio"] {
  margin-left: 10px;
}

button {
    background: #42b72a;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    margin-left:90px ;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}