body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #969597;
  color: #333;
}

header {
  background: #2c2e30;
  color: #f2f4f7;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

header ul li:hover {
  color: #05f325;
}

main {
  padding: 20px;
  min-height: 70vh;
}

footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
}

.product-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(88, 51, 51, 0.1);
  padding: 20px;
  margin: 15px;
  width: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  transition: transform 0.3s ease;
}

.product-box:hover {
  transform: scale(1.03);
}

button {
  background-color: #41a34a;
  color: rgb(238, 233, 233);
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #4b7540;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  background: #fff;
  padding: 15px;
  border-left: 5px solid #020c05;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.total-price {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.quantity-control {
  margin-top: 10px;
}

.notify {
  margin-top: 20px;
  padding: 10px;
  background-color: #ecf1ee;
  border-left: 5px solid #080807;
  color: #1b1b1a;
  font-weight: bold;
  border-radius: 5px;
  display: none;
  text-align: center;
}