body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #7a7c80, #666b6b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.atm-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.atm-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.atm-card p {
  margin-bottom: 20px;
  color: #666;
  font-size: 0.95rem;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #444;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #2daa06;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4d6642;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}
.hidden {
  display: none;
}
